# exclude temporary files
**/OLD/
**/OUT/
**/*~

# exclude movie, plot and pdf files
**/*.mp4
**/*.plt
**/*.pdf

# ignore python constructs
__pycache__

# ignore file that start with period
**/\.*

# ignore sphinx build directory
_build

# include the .gitignore file
!.gitignore

